div {
    height: 200px;
    width: 300px;
    background: rgb(162, 125, 125);
    margin-bottom: 50px;
    border: 2px solid blue;
}

h1 {
    font-size: 40px;
    color: red;
    padding: 40px;
}

p {
    padding: 40px;
}